#main {
    margin: 0 20%;
}
body {
    font-family: 'Lato', sans-serif;
    background: #f0efe7 ;
}
h1, h2, h3, h4, h5, h6 {
    color: #ef391a;
}
.hidden {
    display: none;
}
ul {
    list-style: none;
    color: #4e443c;
    font-size: 1.2em;
    text-align: left;
}

ol {
    color: #4e443c;
    font-size: 1.2em;       
    text-align: left;
}

li {
    margin-bottom: 2%;
}
p {
    color: #4e443c;
    font-size: 1.5em;
    
    text-align: center;
}

img {
    display: block;
    margin: auto;
}

hr {
    margin: 2% 20%;
}

.commands {
    color: #0388a6;
}

.page {
    text-align: center;
}

